#WE are ignoring everything in order not to get mixed all the startup scripts with it
*
#We are only keeping the files nessesary for the recipe
!.gitignore
!docker-compose.yml
!scripts
!.gitkeep
!README.md
!LICENSE.md
