version: '2'

services:

  moodle_db:
    image: postgres:9-alpine
    volumes:
      - './data/db:/var/lib/postgresql/data'
    environment:
      POSTGRES_DB: $MOODLE_DB_NAME
      POSTGRES_USER: $MOODLE_DB_USER
      POSTGRES_PASSWORD: $MOODLE_DB_PASSWORD

  moodle:
    image: ellakcy/moodle:postgresql_apache
    volumes:
      - './data/moodle/data:/var/moodledata'
      - './data/moodle/www:/var/www/html'
    ports:
      - '8082:80'
    links:
      - moodle_db
    environment:
      MOODLE_URL: $MOODLE_URL
      MOODLE_ADMIN: $MOODLE_ADMIN
      MOODLE_ADMIN_PASSWORD: $MOODLE_ADMIN_PASSWORD
      MOODLE_ADMIN_EMAIL: $MOODLE_ADMIN_EMAIL
      MOODLE_DB_HOST: "moodle_db"
      MOODLE_DB_USER: $MOODLE_DB_USER
      MOODLE_DB_PASSWORD: $MOODLE_DB_PASSWORD
      MOODLE_DB_NAME: $MOODLE_DB_NAME
      MOODLE_REVERSE_LB: $MOODLE_REVERSE_LB
      MOODLE_SSL: $MOODLE_SSL
      MOODLE_EMAIL_TYPE_QMAIL: $MOODLE_EMAIL_TYPE_QMAIL
      MOODLE_EMAIL_HOST: $MOODLE_EMAIL_HOST
