version: '2'

services:

 nginx:
   image: nginx:alpine
   ports:
     - '8082:8082'
   volumes:
     - './conf/nginx.conf:/etc/nginx/nginx.conf:ro'
     - './logs/:/var/log/nginx'
   links:
     - 'moodle'
   volumes_from:
     - 'moodle'

 moodle_db:
  image: postgres:alpine
  volumes:
    - './data/db:/var/lib/postgresql/data'
  environment:
    POSTGRES_DB: '${MOODLE_DB_NAME}'
    POSTGRES_USER: '${MOODLE_DB_USER}'
    POSTGRES_PASSWORD: '${MOODLE_DB_PASSWORD}'

 moodle:
    image: ellakcy/moodle:postgresql_fpm_alpine
    volumes:
      - './data/moodle:/var/moodledata'
    links:
      - 'moodle_db'
    environment:
      MOODLE_URL: $MOODLE_URL
      MOODLE_ADMIN: $MOODLE_ADMIN
      MOODLE_ADMIN_PASSWORD: $MOODLE_ADMIN_PASSWORD
      MOODLE_ADMIN_EMAIL: $MOODLE_ADMIN_EMAIL
      MOODLE_DB_TYPE: 'mariadb'
      MOODLE_DB_HOST: 'moodle_db'
      MOODLE_DB_USER: $MOODLE_DB_USER
      MOODLE_DB_PASSWORD: $MOODLE_DB_PASSWORD
      MOODLE_DB_NAME: $MOODLE_DB_NAME
